<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Disease Detection</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Plant Disease Detection</h1>
      <form action="/" method="POST" enctype="multipart/form-data">
        <label for="model_type">Chọn loại mô hình:</label>
        <div class="model-selection">
          <label>
            <input type="radio" name="model_type" value="fruits" checked />
            <span class="button">Fruits</span>
          </label>
          <label>
            <input type="radio" name="model_type" value="leaves" />
            <span class="button">Leaves</span>
          </label>
        </div>

        <label for="file">Tải ảnh lên hoặc chụp ảnh:</label>
        <div class="file-upload">
          <label for="file" class="custom-file-upload"> Chọn tệp </label>
          <input
            type="file"
            name="file"
            id="file"
            accept="image/*"
            capture="camera"
          />
        </div>

        <h1>_______________________</h1>
        <button type="submit">Dự đoán</button>
      </form>

      {% if result %}
      <h2>{{ result }}</h2>
      <img src="{{ image_path }}" alt="Uploaded Image" width="300px" />
      {% endif %}
    </div>
  </body>
</html>
